<div class="contact_pg_background">
    <h1 style="padding: 1% 3%;">Lets Connect!</h1>
    <!-- <form action="https://mailthis.to/gibsoncadam@gmail.com" method="POST">
    <input type="text" name="name" placeholder="Your name"> 
    <input type="email" name="_replyto" placeholder="Your email"> 
    <input type="submit" value="Send"> 
</form>  -->
    <form method="POST" action="https://formspree.io/gibsoncadam@gmail.com">
        <div class="container">
            <!-- <div class="container"> -->
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Your Name" name="name">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Your Email">
                </div>
                <div class="form-group col-md-4">
                    <label>Message</label>
                    <textarea class="form-control" name="message" placeholder="Provide Your Message Here"
                        rows="4"></textarea>
                </div>
                <!-- </div> -->
            </div>
            <button type="submit">Submit</button>
        </div>
    </form>
    <!-- <form method="POST" action="https://formspree.io/gibsoncadam@gmail.com">
    <input type="email" name="email" placeholder="Your email">
    <textarea name="message" placeholder="Test Message"></textarea>
    <button type="submit">Send Test</button>
  </form> -->
</div>