<!-- NAV BAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="/"><img src=" assets/images/logo2.png" style="height: 4vw" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#about_me">About Me <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#projects">Projects <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#knowledge">Knowledge/Skills <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#testimonials">Testimonials <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  <a href="#" data-toggle="modal" data-target="#popUpModal"><button class="btn btn-sm btn-outline-dark"
      type="button">Contact</button></a>
</nav>
<div style="min-height: 70vh;">
  <router-outlet></router-outlet>
</div>
<!-- FOOTER SECTION -->
<footer class="text-center">
  <a href="https://www.linkedin.com/in/adam-gibson-79a10831/"><img class="footer_logo"
      src="https://icongr.am/devicon/linkedin-plain.svg?size=50&color=ff5e00" alt=""></a>
  <a href="https://github.com/gibsonac"><img class="footer_logo"
      src="https://icongr.am/devicon/github-original-wordmark.svg?size=50&color=ff5e00" alt=""></a>
</footer>
<!-- 'CONTACT ME' PAGE MODAL POPUP BOX -->
<div class="modal fade" id="popUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="min-width: 50vw; width: 100%; min-height: 20rem;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lets Connect!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <p> Lets Connect! I am actively seeking an opportunity to really kickstart my career. A company offering great
            growth opportunities for me to invest myself in and continue to grow and learn, while also providing a
            positive and engaging work culture.</p>
          <a href="mailto:gibsoncadam@gmail.com"><button class="btn btn-sm btn-outline-dark" type="button">Email
              Me</button></a>
        </div>
      </div>
      <div class="modal-footer" style="justify-content: center;">
        <img src=" assets/images/logo2.png" style="height: 6vw;" alt="">
      </div>
    </div>
  </div>
</div>