<div class="container">
    <h1 class="text-center" style="margin: 3% auto;">About me</h1>
    <div class="row">
        <div class="col col-md-4 text-center">
            <a href="assets/images/adamg.jpg"><img class="shadow-box2" src="assets/images/adamg.jpg" alt=""
                    style="max-height: 400px;"></a>
        </div>
        <div class="col col-md-8">
            <p>My name is Adam Gibson, I am software developer, recently graduated from one of the top coding bootcamps
                in the
                country, and the only bootcamp in the world backed by MIT. I’m super proud to say that I graduated top
                of my
                class; actually the only student to ace all 3 language tests, even with the fact that I came from a
                Marketing
                background while some cohort members were already CS degree graduates, engineers, etc. I find a natural
                draw and
                ability towards development - it centers around problem solving, critical thinking, and provides the
                opportunity
                to build whatever I put my mind to. As of now, I am most familiar with Python, C#.Net, and MEAN stacks,
                but plan
                to continuously learn more. </p> 
                <p><em>Read about all my professional experience here on <a
                        href="https://www.linkedin.com/in/adam-gibson-79a10831/">my Linkedin.</a></em></p>
            <p> On a personal level; the best 3 words I can summarize myself would be
                "water", "travel", and "photography". Although not my only ones, these are 3
                passions and hobbies that have defined a lot of my current life and personal time.</p>
        </div>
    </div>
    <br>
    <h5 class="red">WATER</h5>
    <p>On any typical weekend, you can usually find me scuba diving the California kelp forests, or surfing
        various surf-breaks. I'm an avid waterman, and enjoy being in the outdoors/water whenever possible, no matter
        the activity.</p>
    <h5 class="red">TRAVEL</h5>
    <p>"Those that dare to venture, experience the greatest rewards" - a quote I've loved since childhood, and a huge
        influence as to the experiences I've had thus far. Seeing and learning about new cultures and customs,
        challenging yourself through difficult situations, and broadening your own horizons all build up to an exciting
        experience and future story. I'm thankful to say I've experienced a lot over my 30 years so far. Traveling
        throughout Europe and Southeast Asia, living and working in Thailand for over a year as a Dive Master, and
        leading various groups on scuba diving trips around the world.</p>
    <h5 class="red">PHOTOGRAPHY</h5>
    <p>Hand in hand with the adventuring mentioned above, it seems a natural connection for me to also then be drawn to
        photography. I enjoy landscape and underwater photography most, but really any opportunity I can try to capture
        a moment or experience in a photo is an exciting challenge to me.</p>

    <div class="card-columns">
        <div class="card shadow-box2">
            <a href="assets/images/_2120466.jpg"><img src="assets/images/_2120466.jpg" class="card-img-top"
                    alt="Scorpion Fish"></a>
        </div>
        <div class="card shadow-box2">
            <a href="assets/images/_2150750.jpg"><img src="assets/images/_2150750.jpg" class="card-img-top"
                    alt="Blue ocean with anemone fish"></a>
        </div>
        <div class="card shadow-box2">
            <a href="assets/images/_2150845.jpg"><img src="assets/images/_2150845.jpg" class="card-img-top"
                    alt="splitshot of aqualung fins in water and islands"></a>
        </div>
        <div class="card shadow-box2">
            <a href="assets/images/_2210450.jpg"> <img src="assets/images/_2210450.jpg" class="card-img-top"
                    alt="shaun the sheep Nudibranch"></a>
        </div>
        <div class="card shadow-box2">
            <a href="assets/images/_2220530.jpg"> <img src="assets/images/_2220530.jpg" class="card-img-top"
                    alt="Tarsier Monkey looking at the camera"></a>
        </div>
        <div class="card shadow-box2">
            <a href="assets/images/_B030879.jpg"><img src="assets/images/_B030879.jpg" class="card-img-top"
                    alt="sunset at Joshua Tree, CA"></a>
        </div>
        <div class="card shadow-box2">
            <a href="assets/images/_B030972.jpg"> <img src="assets/images/_B030972.jpg" class="card-img-top"
                    alt="Joshua Tree night photo with stars"></a>
        </div>
        <div class="card shadow-box2">
            <a href="assets/images/_B040983.jpg"> <img src="assets/images/_B040983.jpg" class="card-img-top"
                    alt="Open road through Joshua Tree"></a>
        </div>
    </div>
</div>